<style type="text/css" rel="stylesheet">
  #song_display:before{content:"► ";}
  #result_box{margin-top:0;}
</style>

<div id="player">
  <div id="song_display" class="display">X - X</div>
  <div id="prev" class="button quarter">&lt;&lt;</div>
  <div id="play" class="button quarter">&#9658;</div>
  <div id="pause" class="button quarter">II</div>
  <div id="next" class="button quarter">&gt;&gt;</div>
  <div class="clear"></div>
  <div id="volume_dec" class="button quarter">-</div>
  <div id="volume_stat" class="button half">100%</div>
  <div id="volume_inc" class="button quarter">+</div>
  <div class="clear"></div>
  <div class="line"></div>
  <input type="text" id="search_box" placeholder="Search album, artist or title" />
  <div id="result_box"></div>
</div>
