<div id="player">
  <div class="button quarter">&lt;&lt;</div>
  <div class="button quarter">&#9658;</div>
  <div class="button quarter">II</div>
  <div class="button quarter">&gt;&gt;</div>
  <div class="clear"></div>
  <div class="button quarter">-</div>
  <div class="button half" id="volume_stat">100%</div>
  <div class="button quarter">+</div>
  <div class="clear"></div>
  <div class="line"></div>
  <input type="text" id="search_box" placeholder="Search YouTube" />
  <div class="button half active" id="yt_a">Audio</div>
  <div class="button half" id="yt_v">Video</div>
  <div class="clear"></div>
  <div class="button half active" id="yt_hq">HQ</div>
  <div class="button half" id="yt_lq">LQ</div>
  <div class="clear"></div>
  <div id="result_box"></div>
</div>
