<!DOCTYPE html>
<html>

  <head>
    <title>SMART DIY</title>
    <link rel="stylesheet" type="text/css" href="/gui/static/style.css" />
    <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no" />

  </head>

  <body>

    <div id="header">SMART DIY</div>

    <div id="content"></div>

    <script type="text/javascript" src="/gui/static/ejs_production.js"></script>
    <script type="text/javascript">

      // VARIABLES ---------------------------------------------------------
      var oData = {
        "oSetup":<%- JSON.stringify(oSetup) %>,
        "oMediaClients":<%- JSON.stringify(oMediaClients) %>,
        "oMediaModules":<%- JSON.stringify(oMediaModules) %>,
        "sRoom":"",
        "sMedia":"",
        "sModuleName":""
      };
      var oModule = {};

      // WS ---------------------------------------------------------
      var oWS = new WebSocket("ws://<%= oSetup.sServerHost %>:4444");
      oWS.onopen = function(){
       console.log("[GUI] Connection opened.");
      };
      // handle message event
      oWS.onmessage = function(sData, lFlags){
        oModule.handleMessage(sData, lFlags);
      };
      // handle close event
      oWS.onclose = function(){
        console.log("[GUI] Closed connection.");
      };
       // handle error event
      oWS.onerror = function(oErr){
        console.log("[GUI] Error:");
        console.log(oErr);
      };

      // FUNCTIONS ---------------------------------------------------------

      function changeGUI(sLocation, sRoom, sMedia){
        if(typeof oModule.cleanup == "function")
          oModule.cleanup();
        delete oModule;
        // define gui values
        oData.sRoom = sRoom;
        oData.sMedia = sMedia;
        // get module instance name
        for(var lIndex in oData.oMediaModules){
          if(oData.oMediaModules[lIndex].sGUI == oData.sMedia){
            oData.sModuleName = lIndex;
            break;
          }
        }
        // set header value
        var oHeader = document.getElementById("header");
        if(sMedia == "" && sRoom != "")
          oHeader.innerHTML = oData.oMediaClients[sRoom].sName;
        else if(sMedia != "" && sRoom != "")
          oHeader.innerHTML = oData.oMediaModules[oData.sModuleName].sName + " @ " + oData.oMediaClients[sRoom].sName;
        else
          oHeader.innerHTML = "SMART DIY";
        // insert view and scripts into documents
        document.getElementById("content").innerHTML = new EJS({url: sLocation}).render({"oSetup":oData.oSetup,"oMediaClients":oData.oMediaClients,"oMediaModules":oData.oMediaModules,"sRoom":sRoom,"sMedia":sMedia});
        if(sRoom == "" || sMedia == "")
          return;
        var oJS = document.createElement("script");
        oJS.type = "text/javascript";
        oJS.src = "/modules/" + sMedia + "/gui/" + sMedia + ".js";

        document.body.appendChild(oJS);
      }

      function sendRequest(sType, sRoom, sMedia, sCommand, aParams){
        if(typeof aParams == "undefined") var aParams = [];
        oWS.send(JSON.stringify({"sType":sType,"sConnectionHash":oData.oSetup.sConnectionHash,"sTarget":sRoom,"sMedia":sMedia,"sCommand":sCommand,"aParams":aParams}));
      }

      function checkHash(){
        var aLocation = window.location.hash.substr(1).split("/");
        if(aLocation[0] == "")
          changeGUI("gui/room-menu", "", "");
        else if(aLocation[1] == "")
          changeGUI("gui/media-menu", aLocation[0], "");
        else if(aLocation[0] != "" && aLocation[1] != "")
          changeGUI("modules/" + aLocation[1] + "/gui/" + aLocation[1], aLocation[0], aLocation[1]);
        else
          changeGUI("gui/room-menu", "", "");
      }

      checkHash();
      window.onhashchange = function(){
        checkHash();
      };


    </script>

  </body>

</html>
