<div id="menu">
  <% for(var lIndex in oMediaClients[sRoom].aModules){ %>
  <a href="#<%= sRoom %>/<%= oMediaModules[oMediaClients[sRoom].aModules[lIndex]].sGUI %>" class="button"><%= oMediaModules[oMediaClients[sRoom].aModules[lIndex]].sName %></a>
  <% } %>
</div>