<style type="text/css">
  .display{margin-top:10px;}
</style>

<div id="player">
  <div id="button_menu">
    <div id="start_stream_server" class="button">Stream OFF</div>
    <div class="clear"></div>
  </div>
  <div class="clear"></div>
  <div class="display" id="status">---</div>
  <div class="line"></div>
  <div id="result_box" class="hidden"></div>
</div>
